.card_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: 20rem;
  z-index: -2;
}

.card {
  margin: 20px;
  border: 2px solid #ededed;
  padding: 20px;
  cursor: pointer;
}

.card_img {
  width: 13rem;
  margin-bottom: 1rem;
}

.card_title {
  margin-bottom: 1rem;
}

.card_reviews {
  margin-bottom: 1rem;
  display: flex;
}
.rating_star {
  color: #d5ab55;
}
.total_reviews {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card_price {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bag_icons{
    color: #535353;

}